{% extends "layout.html" %}

{% block page %}
  <section style="text-align: center;">
    <h1 class="title-replace">{{ page.name }}</h1>
    <img style="height: 6em;" src="/static/content/projects/{{ page.logo }}">
  </section>
  <nav>
    <span></span>
    <ul>
      <li><a href="{{ page.docs }}">Documentation</a></li>
      <li><a href="{{ page.pypi }}">Releases on PyPI</a></li>
      <li><a href="{{ page.github }}">Source on GitHub</a></li>
    </ul>
    <span></span>
  </nav>
  <section>
    {{ page.content_html | safe }}
  </section>
{% endblock %}
